body {
    background-color: aquamarine;
    /* display: flex; */
}

main {
    display: flex;
    justify-content: space-between;
}
#canvas {
    /* height: 60vh; */
    width: 80vw;
    /* max-height: 10vh; */
    background-color: beige;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5px;
    justify-content: center;  
    align-items: center;
}
.tools {
    display: flex;
    flex-direction: column;
}

.gridCell {
    height: 5px;
    width: 5px;
    /* background-color: black; */
    margin: 0;
    padding: 0;
    transition: 1s;
}

.changeColour {
    background-color: blue;
}