body {
    background: antiquewhite;
    background-color: #e0d394;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: space-between; */
    justify-items: center;
    align-content: center;
    font-family: serif;
}

.flex {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  width: 100vw;
  /* background-color: brown; */
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  box-sizing: border-box;
}
.overlay {
  position: fixed;
  /* height: 00vh; */
  width: 00vw;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(13, 14, 14, 0.74);
  z-index: 1;
  transition: 0.5s;
}
.overlay-visible {
  width: 100vw;
  /* height: 100vh; */
}
.info-btn {
  height: 40px;
  /* animation: bounce;   */
  /* animation-duration: 2s; */
  /* animation-iteration-count: infinite; */
  /* background: red; */
  z-index: 8;
  border-radius: 50%;
  animation: pulse 2s cubic-bezier(0.64, 0, 0.78, 0) 1s infinite normal forwards;
}
.info-btn:hover {
  background: burlywood;
}
.info-btn-active {
  background: rgb(252, 149, 15);  
}
.info-btn:active {
  background: black;
}
@keyframes pulse {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}
.info-panel {
  background: burlywood;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  
  height: 00vh;
  width: 00vw;
  right: 55px;
  top: 55px;
  bottom: 0;

  
  border-radius: 10px;
  transition: 0.5s;
  z-index: 4;
}
.info-panel-visible {
  height: 50vh;
  width: 50vw;
  padding: 20px;
}
main {
    display: flex;
    justify-content: space-around;
    height: 500px;
    align-items: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    /* background: cadetblue; */
    background: #e0d394;
    /* background: black; */
    /* border-radius: 15%; */
    box-shadow: 11.71px 11.71px 15px #CCC087, -11.71px -11.71px 15px #F4E6A1;
}

.canvas-container {
    display: flex;
    justify-content: flex-end;
    
}

#pen {
  /* background: chartreuse; */
  display: flex;
  justify-content: space-around;
  /* height: 30px; */
  /* background-color: blue; */
  align-items: center;
}
.eraserImg {
  /* background: bisque; */
  transition: 1s;
}
#eraser {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  box-sizing: border-box;
  padding: 5px;
  transition: 1s;
  border-radius: 10px;
  /* border: 1px solid white; */
}

.eraserActive {
background: #e0d394;
box-shadow:  7px 7px 11px #b5ab78,
             -7px -7px 11px #fffbb0;
}
#penImg {
  /* background: chocolate; */
  border-radius: 10px;
  transition: 1s;
  height: 30px;
}
#canvas {
    min-height: 500px; 
    max-height: 500px;
    width: 800px;
   /* padding: 5px; */
    background-color: whitesmoke;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center;
    box-sizing: border-box;

    
}
.tools {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    justify-content: space-evenly;
    align-items: stretch;
}
.color-and-label {
  /* background: coral; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
button:hover {
  background: black;
  color: white;
  /* animation: rotate 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;   */
  /* animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); */
}
.penAnimation {
  animation-direction: alternate;
  animation: penActive 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes penActive {
  0% {
    transform: rotate(20deg);
  }
  100%{
    transform: rotate(-20deg);
  }
}
button:active {
  animation-direction: alternate;
  animation: rotate 5s;
  color: antiquewhite;
  /* background: cadetblue; */
  /* animation-iteration-count: infinite; */
  animation-direction: alternate;  
}
button {
  transition: 0.1s;
  box-sizing: border-box;
  background: none;
  border-radius: 5px;
  height: 50px;
  background: burlywood;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: scale(0.75)
  }
 }
.color-picker {
    border-radius : 5px;
    border: none;
    /* width: 70px;
    height: 40px; */
    margin-top: 2px;
    padding: 5px;
    background-color: rgb(255, 255, 255);
}
.gridCell {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0.5px dotted black;
    transition: 0.5s;
}
.borderChange {
  border: none;
}
.changeColour {
    background-color: blue;
}

#rangeControllers {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: none;
}

#resolution {
    background: none;
   
}


input[type=range] {
    height: 37px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 2px 2px 2px #000000;
    background: #D6D6D0;
    border-radius: 9px;
    border: 1px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 3px 3px 3px #000000;
    border: 2px solid #5E1A25;
    height: 26px;
    width: 25px;
    border-radius: 50px;
    background: #A3A3A2;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #D6D6D0;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 2px 2px 2px #000000;
    background: #D6D6D0;
    border-radius: 9px;
    border: 1px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 3px 3px 3px #000000;
    border: 2px solid #5E1A25;
    height: 26px;
    width: 25px;
    border-radius: 50px;
    background: #A3A3A2;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #D6D6D0;
    border: 1px solid #000000;
    border-radius: 18px;
    box-shadow: 2px 2px 2px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #D6D6D0;
    border: 1px solid #000000;
    border-radius: 18px;
    box-shadow: 2px 2px 2px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 3px 3px 3px #000000;
    border: 2px solid #5E1A25;
    height: 26px;
    width: 25px;
    border-radius: 50px;
    background: #A3A3A2;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #D6D6D0;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #D6D6D0;
  }